*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar_styling {
    position: fixed;
    top: 43vh;
    right: 0vh;
}
#logo_styling {
    height: 5rem;
    position: fixed;
    left: 5vh;
    border: 2px solid black;
    border-top: none;
}
#text_styling_home_1, #text_styling_home_2 {
    font-weight: bolder;
    color: white;
    margin-top: 2rem;
}
#text_styling_home_1 {
    font-size: 3rem;
}
#text_styling_home_2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
#text_content {
    padding: 35vh;
}
#home_background {
    background-image: url("https://i.postimg.cc/SR06DLsV/peakpx-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#footer_styling {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
#linked_socials {
    padding: 1rem;
}
#line_horizontal {
    border: 1px solid white;
    margin: 1rem 20rem 1rem;
}
#copyright {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
nav {
    padding: 30px;
}
nav a {
    font-weight: bold;
    color: grey;
    text-decoration: none;
    font-size: large;
}
nav a.router-link-exact-active {
    color: black;
}
#link_from_home_to_about {
    border: 2px solid white;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
#link_from_home_to_about:hover {
    color: black;
    background-color: white;
    animation: none;
}
#link_from_home_to_about {
    animation-name: home-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes home-animation {
    0%{color: white;}
    75%{color: transparent;}
}
#about_page {
    padding-top: 15vh;
    padding-right: 20rem;
    padding-left: 20rem;
    color: white;
}
#heading_about_me {
    font-size: xx-large;
    font-weight: bold;
}
#about_me_paragraph {
    border-radius: 0.3rem;
    padding: 0.3rem;
}
#about_background {
    background-image: url("https://i.postimg.cc/FRDWz4Nq/wallpaperflare-com-wallpaper-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#heading_about_me {
    animation-name: about-animation;
    animation-duration: 6s;
    animation-delay: -2s;
}

@keyframes about-animation {
    0%{margin-top: 400px;}
}

.paragraph_on_about_1 {
    animation-name: paragraphs_movement_1;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_1 {
    0%{margin-left: 400px;}
}
.paragraph_on_about_2 {
    animation-name: paragraphs_movement_2;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_2 {
    0%{margin-right: 400px;}
}
.paragraph_on_about_3 {
    animation-name: paragraphs_movement_3;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_3 {
    0%{margin-left: 400px;}
}
.paragraph_on_about_4 {
    animation-name: paragraphs_movement_4;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_4 {
    0%{margin-right: 400px;}
}
.paragraph_on_about_5 {
    animation-name: paragraphs_movement_5;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_5 {
    0%{margin-left: 400px;}
}
.paragraph_on_about_6 {
    animation-name: paragraphs_movement_6;
    animation-duration: 6s;
    animation-delay: -2s;
}
@keyframes paragraphs_movement_6 {
    0%{margin-right: 400px;}
}
#link_from_about_to_resume {
    border: 2px solid white;
    color: white;
    padding: 0.3rem;
    padding-bottom: 0.6rem;
}
#link_from_about_to_resume:hover {
    background-color: white;
    color: black;
}
#resume_background {
    background-image: url("https://i.postimg.cc/P5LCWTG1/wallpaperflare-com-wallpaper-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#the_headings {
    font-size: xx-large;
    text-decoration: underline;
    color: white;
    display: flex;
    justify-content: space-around;
}
#my_details {
    color: white;
    border: 2px solid white;
    width: 25rem;
    position: fixed;
    top: 6rem;
    left: 2rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
@keyframes content_resume {
    0%{border-color: white;}
    75%{border-color: transparent;}
}
#my_passions {
    color: white;
    border: 2px solid white;
    width: 40rem;
    position: fixed;
    top: 6rem;
    left: 29rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
#my_soft_skills {
    color: white;
    border: 2px solid white;
    height: 12.7rem;
    width: 18rem;
    position: fixed;
    top: 6rem;
    left: 71rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
#my_technical_skills {
    color: white;
    border: 2px solid white;
    width: 32rem;
    height: 20rem;
    position: fixed;
    top: 21.4rem;
    left: 29rem;
    padding: 2rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
#tech {
    display: flex;
    justify-content: space-evenly;
}
#my_education {
    color: white;
    border: 2px solid white;
    width: 25rem;
    height: 20.1rem;
    position: fixed;
    bottom: 6rem;
    right: 7rem;
    padding-top: 4rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
#my_work_experience {
    color: white;
    border: 2px solid white;
    width: 25rem;
    height: 11.1rem;
    position: fixed;
    bottom: 6rem;
    left: 2rem;
    padding-top: 2rem;
    animation-name: content_resume;
    animation-duration: 3s;
    animation-delay: -2s;
}
#contact_background {
    background-image: url("https://i.postimg.cc/sxf5fyFL/wallpaperflare-com-wallpaper-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#contact_content {
    display: flex;
}
#everything_in_contact {
    color: white;
    padding-top: 30vh;
    width: 100%;
}
input {
    width: 20rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
}
::placeholder {
    color: rgba(255, 255, 255, 0.181);
}
#submit_button {
    border: 2px solid white;
    border-radius: 0;
    color: white;
}
#submit_button:hover {
    background-color: white;
    color: black;
}
label {
    margin-right: 1rem;
}
form {
    border: 2px solid white;
    padding: 2rem;
    margin-left: 4rem;
}
#contact_details {
    margin-top: 5rem;
    border: 2px solid white;
    height: 9rem;
    padding-top: 1rem;
}
#contact_details:hover {
    background-color: white;
    color: black;
}
/* #my_details:hover, #the_headings:hover, #my_passions:hover, #my_soft_skills:hover, #my_technical_skills:hover, #my_education:hover, #my_work_experience:hover {
    background-color: white;
    color: black;
} */